/* Box Model Hack */
* {
    box-sizing: border-box;
}


/* Clear fix hack */
.clearfix::after {
    content: ". ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/* *************************** */
/* BASE STYLE */
/* *************************** */

body {
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    background-image: url('/assets/images/brewery-cover.avif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* ************************** */
/* ADDITIONAL STYLING */
/* ************************** */

h2 {
    margin-bottom: 0;
    font-size: 84px;
    font-weight: 600;
    color: white;
    -webkit-text-stroke: 1px rgb(117, 41, 28);
}


input {
    width: 200px;
}

button {
    margin: 20px auto;
    display: block;
    font-size: 48px;
    padding: 10px;
}

img {
    max-height: 300px;
}


table {
    /* center aligns the table */
    margin: 20px auto;
    color: white;
    background-color: rgb(117, 41, 28);
}

table,
tr,
th {
    border: 2px rgb(117, 41, 28) solid;
    border-radius: 2%;
    padding: 5px;
}

td {
    background-color: rgb(92, 36, 26);
    border-radius: 2%;
    font-size: 48px;
}
