/* Box Model Hack */
* {
    box-sizing: border-box;
}


/* Clear fix hack */
.clearfix::after {
    content: ". ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/* *************************** */
/* BASE STYLE */
/* *************************** */

body {
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    background-image: url('/assets/images/brewery-cover.avif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* ************************** */
/* ADDITIONAL STYLING */
/* ************************** */

#titleSection {
    margin: 10px auto;
    width: 100vw;
    height: 20%;
}

#sectionBG {
    width: 100vw;
    height: 110vh;
    margin: 0;
    background: linear-gradient(rgba(59, 10, 1, 0), rgba(46, 11, 5, 0.724));
}

h2 {
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(117, 41, 28);
}


input {
    width: 300px;
}

label {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 900;
    -webkit-text-stroke: 1px rgb(93, 18, 5);
}

input[type=text] {
    font-size: 16px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    margin: 20px auto;
    display: block;
    font-size: 16px;
    padding: 10px;
    background-color: rgb(117, 41, 28);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: rgb(82, 28, 19);
}

img {
    max-height: 300px;
}


table {
    /* center aligns the table */
    margin: 20px auto;
    color: white;
    background-color: rgb(117, 41, 28);
}

table,
tr,
th {
    border: 2px rgb(117, 41, 28) solid;
    border-radius: 2%;
    padding: 5px;
}

td {
    background-color: rgb(92, 36, 26);
    border-radius: 2%;
    font-size: 18px;
}
